.userPhoto {
    width: 100px;
}

.search input {
    background-color: #1E1F22;
    border: none;
    outline: none;
    width: 1000px;
    height: 40px;
    border-radius: 5px;
    position: relative;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);

}

.search i {
    position: absolute;
    transform: translateY(-50%);
    font-size: 20px;
    right: 10px;
    top: 50%;
}

.search {
    position: relative;
}

.searchBox {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.select {
    background-color: #1E1F22;
    color: #fff;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
}