.posts {
padding: 25px;
}
.postsBlock{
padding: 25px;
}
.likeCountBlock{
padding: 20px;
display: grid;
grid-template-columns: 1fr 11fr;
align-items: center;
}
.likeCountBlock img{
width: 50px;
border-radius: 50px;
}
.massegeBlock{
border: solid 1px gray;
border-radius: 15px;
padding: 25px;
}
