.header{
    grid-area: h;
    display: flex;
    align-items: center ;
    justify-content: space-between;
    padding: 0 20px;
}
.header h1 {
    margin: 20px;
    color: #D0DEE1;
}
.loginBlock{
    float: right;
    
}
.loginBlock a{
    color:  black;
    text-decoration: none;
    
}