.nav {
    grid-area: n;
    padding: 20px;
    display: grid;

}

.item a {
    color: black;
    text-decoration: none;
    font-size: 25px;
    color: #DBDEE1; 
}

.item {
    margin: 25px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.item i {
    font-size: 24px;
    color: #DBDEE1;

}

.item:active {
    font-size: bold;
}