.app-wrapper {
  display: grid;
  margin: 0 auto;
  grid-template-areas:
    "h h"
    "n c";
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 60px 1fr;
  grid-gap: 10px;
}

.app-wrapper-content {
  grid-area: c;
  background-color: #313338;
  color: #fff;
  border-radius: 10px 0 0 10px;
}

button {
  width: 100px;
  height: 25px;
  background-color: #1E1F22;
  border: 2px solid rgba(0, 0, 0, 0.2);
  outline: none;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 14px;
  color: #DBDEE1;
  font-weight: 600;
}
