.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialog img{
    border-radius: 50%;
}
.dialogsItems {
    padding: 10px;
}



.dialog {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 11fr;
    align-items: center;

    
}

.dialog img {
    width: 50px;
}

.masseges {
    padding: 20px;
    border: solid 1px gray;
    border-radius: 15px;
    margin: 10px;
    color: #DBDEE1;
}

.names a {
    padding: 20px;
    color: #DBDEE1;
    
    text-decoration: none;
}

.names {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    margin: 15px;
}

.names img {
    width: 50px;
    border-radius: 50px;
}